<ion-view view-title="Browse">
  <ion-content>

  </ion-content>
  <ion-footer>
  	<div class="tabs tabs-icon-top">
	  <a class="tab-item">
	    <i class="icon ion-compass"></i>
	    Explorar
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-ios-chatbubble-outline"></i>
	    Mensagens
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-android-calendar"></i>
	    Calendário
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-pin"></i>
	    Eventos
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-ios-information-outline"></i>
	    Informações
	  </a>
	</div>
  </ion-footer>
</ion-view>
