<ion-side-menus enable-menu-with-back-views="false">
  <div ng-controller="menuSliderController">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu 
      side="left"
      width="{{menuWidth}}"
    >
      <ion-header-bar class="bar-stable" class="header-bar" style="background-color: #2a375d">
        <div menu-close class="icon ion-close-round" id="closeSideMenu"></div>
        <h1 class="title" style="color: white; left: 0px !important">Perfil</h1>
      </ion-header-bar>
      <ion-content style="background-color: #37373b">

      <div class="topoMenu">
      </div>
      <div class="fatherBlueCover">
        <div class="blueCover">
        </div>
        <div class="elements">
          <!-- elements -->
          <div class="row">
            <div class="col col-25">
              <div ng-style="imgProfile" class="imgProfile">
              </div>
            </div>
            <div class="col col-50">
              <center>
                <img src="img/logo-psa.png" class="logoMenuSlider">
              </center>
              <center>
                <div class="nameProfile">
                  {{nameProfile}}
                </div>
              </center>
              <center>
                <div class="score">
                  <div class="fontScore">
                    {{scoreProfile}}
                  </div>
                  <div class="fontSmallScore">
                    Pontos
                  </div>
                </div>
              </center>
            </div>
            <div class="col-col-25">
              <div class="icon ion-ios-gear-outline" id="btnConfigMenu">
              </div>
            </div>
          </div>
          <!-- elements -->
        </div>
      </div>

      <div class="subElements">
        <div class="row">
            <div class="col col-33.3">
              <center>
                <div class="letterPosition">{{general}}º</div>
                <div class="icon ion-trophy" style="font-size: 16px; color: white; margin-top: 10px"></div>
                <div class="letterPositionSmall">Geral</div>
              </center>
            </div>
            <div class="col col-33.3">
              <center>

              </center>
            </div>
            <div class="col col-33.3">
              <center>
                <div class="letterPosition">{{skills}} | 100</div>
                <div class="icon ion-ribbon-b" style="font-size: 16px; color: white; margin-top: 10px"></div>
                <div class="letterPositionSmall">Habilidades</div>
              </center>
            </div>
      </div>
      <div class="rodapeMenu">
        <center>
          <div class="medalsLetter">Minhas Conquistas</div>
        </center>
        <ion-slide-box>
          <ion-slide>
            <div class="row" style="margin-top: 20px">
              <div class="col col-33.3333">
                <center>
                  <img ng-src="img/medal1.png" style="width: 65%">
                  <div class="minLetterMedal">Atendimento ao cliente</div>
                </center>
              </div>
              <div class="col col-33.3333">
                <center>
                  <img src="img/medal2.png" style="width: 65%">
                  <div class="minLetterMedal">Entrega Rápida</div>
                </center>
              </div>
              <div class="col col-33.3333">
                <center>
                  <img src="img/medal3.png" style="width: 65%">
                  <div class="minLetterMedal">Negociador</div>
                </center>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>

        <center>
          <div class="medalsLetter">Minhas Métricas</div>
          <div class="faixa">
            <div class="metricsLetterTopo">Média de conquistas</div>
          </div>

          <!-- ****************************my metrics************************************* -->
          <div class="row">
            <div class="col col-25">
              <!--stars-->
              <center>
                <img src="img/star2.png" class="star1">
                <img src="img/star2.png" class="star1">
                <img src="img/star2.png" class="star1">
              </center>
              <!---./stars-->

            </div>

            
            <div class="col col-75">
               <div class="w3-progress-container w3-round-small" style="height: 15px; margin-top: 5px; width: 60%; float: left">
                  <div class="w3-progressbar w3-round-xlarge" style="width:{{completeCourses}}%; background-color: {{completeCoursesColor}} !important"></div>
                </div>
                <div style="width: 20%; color: {{completeCoursesColor}}; margin-left: 75px;">
                  {{completeCourses}}%
                </div>
                <div style="float: right; margin-top: -20px;">51/66</div>
            </div>
          </div>
          <!-- ****************************./my metrics************************************* -->
          <!-- ****************************my metrics************************************* -->
          <div class="row">
            <div class="col col-25">
              <!--stars-->
              <center>
                <img src="img/star1.png" class="star1">
                <img src="img/star2.png" class="star1">
                <img src="img/star2.png" class="star1">
              </center>
              <!---./stars-->

            </div>

            
            <div class="col col-75">
               <div class="w3-progress-container w3-round-small" style="height: 15px; margin-top: 5px; width: 60%; float: left">
                  <div class="w3-progressbar w3-round-xlarge" style="width:{{completeCourses}}%; background-color: {{completeCoursesColor}} !important"></div>
                </div>
                <div style="width: 20%; color: {{completeCoursesColor}}; margin-left: 75px;">
                  {{completeCourses}}%
                </div>
                <div style="float: right; margin-top: -20px;">51/66</div>
            </div>
          </div>
          <!-- ****************************./my metrics************************************* -->
          <!-- ****************************my metrics************************************* -->
          <div class="row">
            <div class="col col-25">
              <!--stars-->
              <center>
                <img src="img/star1.png" class="star1">
                <img src="img/star1.png" class="star1">
                <img src="img/star2.png" class="star1">
              </center>
              <!---./stars-->

            </div>

            
            <div class="col col-75">
               <div class="w3-progress-container w3-round-small" style="height: 15px; margin-top: 5px; width: 60%; float: left">
                  <div class="w3-progressbar w3-round-xlarge" style="width:{{completeCourses}}%; background-color: {{completeCoursesColor}} !important"></div>
                </div>
                <div style="width: 20%; color: {{completeCoursesColor}}; margin-left: 75px;">
                  {{completeCourses}}%
                </div>
                <div style="float: right; margin-top: -20px;">51/66</div>
            </div>
          </div>
          <!-- ****************************./my metrics************************************* -->
          <!-- ****************************my metrics************************************* -->
          <div class="row">
            <div class="col col-25">
              <!--stars-->
              <center>
                <img src="img/star1.png" class="star1">
                <img src="img/star1.png" class="star1">
                <img src="img/star1.png" class="star1">
              </center>
              <!---./stars-->

            </div>

            
            <div class="col col-75">
               <div class="w3-progress-container w3-round-small" style="height: 15px; margin-top: 5px; width: 60%; float: left">
                  <div class="w3-progressbar w3-round-xlarge" style="width:{{completeCourses}}%; background-color: {{completeCoursesColor}} !important"></div>
                </div>
                <div style="width: 20%; color: {{completeCoursesColor}}; margin-left: 75px;">
                  {{completeCourses}}%
                </div>
                <div style="float: right; margin-top: -20px;">51/66</div>
            </div>
          </div>
          <!-- ****************************./my metrics************************************* -->

          <div class="faixa">
            <div class="metricsLetterTopo">Aproveitamento</div>
          </div>

          <!-- _____________________________aproveitamento*_______________________________ -->
          <ion-list>
            <ion-item ng-repeat="item in aproveitamento" style="height: 60px;">
                <div class="row">
                  <div class="col col-20">
                    <!--stars-->
                    <center>
                      <div class="baseImg">

                      </div>
                    </center>
                    <!---./stars-->

                  </div>

                  
                  <div class="col col-80">
                     <div class="nameAproveitamento">
                        {{item.name}}
                     </div>
                     <div class="w3-progress-container w3-round-small" style="height: 15px; margin-top: 5px; width: 55%; float: left; height: 8px;">
                        <div class="w3-progressbar w3-round-xlarge" style="width:{{item.porcentage}}%; background-color: #3098db !important"></div>
                      </div>
                      <div style="width: 20%; color: #3098db; margin-left: 70px;">
                        {{item.porcentage}}%
                      </div>
                      <div style="float: right; margin-top: -20px;">51/66</div>
                  </div>
                </div>
            </ion-item>
          </ion-list>
          <!-- _____________________________./aproveitamento*_______________________________ -->

        </center>
      </div>

      

      </ion-content>
    </ion-side-menu>
  </div>
</ion-side-menus>
