.subCat .item-stable,
.subCat .item.active.item-stable {
	background-color: #f5f5f5;
	border-color: rgba(178, 178, 178, 0.31);
}

.subCat .item {
	padding: 16px 0px 10px;
}

.subCat .item-stable .name {
	color: #334374;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.subCat .level > span {
	display: inline-block;
	float: left;
	height: 18px;
	margin: -3px 2px 0 5px;
	width: 18px;
}

.subCat .evo {
	font-size: 12px;
	margin: -5px 5px 0 0;
	padding: 0;
}

.subCat .level {
	padding: 0;
}

.subCat .level .a {
	background-image: url('../img/i-avancado.png');
	background-repeat: no-repeat;
}

.subCat .level .e {
	background-image: url('../img/i-expert.png');
	background-repeat: no-repeat;
}

.subCat .level .i {
	background-image: url('../img/i-intermediario.png');
	background-repeat: no-repeat;
}

.subCat .level .p {
	background-image: url('../img/i-principiante.png');
	background-repeat: no-repeat;
}

.subCat .header .light i {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 11px;
	width: 11px;
}

.subCat .ranking-pb {
	background-image: url('../img/ranking-pb.png');
}

.subCat .habilidades-pb {
	background-image: url('../img/habilidades-pb.png');
}

.subCat .course {
	padding: 15px 5px;
}

.subCat .course .name {
	color: #525252;
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
}

.subCat .course i {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 30px;
	margin-top: 5px;
	position: absolute;
	right: 10px;
	width: 30px;
}

.subCat .course .habilidades-color {
	background-image: url('../img/habilidades-color.png');
	height: 15px;
	position: relative;
	width: 15px;
}

.subCat .course .concluido {
	background-image: url('../img/concluido.png');
}

.subCat .course .iniciar {
	background-image: url('../img/iniciar.png');
}

.subCat .course .onde-estou {
	background-image: url('../img/onde-estou.png');
}

.subCat .score {
  color: #444;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-left: -5px;
  margin-top: 0;
  width: auto;
}

.subCat .score .num {
	display: inline-block;
	text-align: center;
	width: 20px;
}

.subCat .score small {
	font-size: 70%;
	font-weight: lighter;
}

.subCat .level i {
    margin: -4px 0 0 6px;
    position: absolute;
}

.subCat .progress {
	border-radius: 100px;
	background-color: #ffffff;
	height: 10px;
	padding: 0;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}

.subCat .progress > div {
	border-radius:100px;
	height:10px;
}

.subCat .header {
	background-color: #334374;
	color: #ffffff;
}

.subCat .noPadding {
	padding: 0;
}

.subCat .header strong {
	display: block;
	font-size: 26px;
	height: 26px;
	margin-bottom: 25px;
	padding-top: 10px;
}

.subCat .header strong small {
	color: #b5bacc;
	font-weight: lighter;
	font-size: 60%;
}

.subCat .header .light {
	font-weight: lighter;
	font-size: 14px;
}

.subCat .header .padding {
	padding-top: 20px;
	padding-bottom: 10px;
}

.subCat .header .c100 {
	left: 50%;
	margin-left: -30px;
}

.subCat .c100.small {
	font-size: 60px;
}

.subCat .header .percent {
	padding-top: 10px;
	padding-bottom: 0;
}

.subCat .header .percent .text-center {
	font-size: 14px;
	margin: -9px auto 0;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}