.imgProfileContato{
	width: 105px;
	height: 105px;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    left: 10%;
    margin-top: -40px;
}

.nameContato{
	color: #2a375d;
	font-weight: 800;
	font-size: 18px;
	padding-top: 10px;
	text-transform: uppercase;
}

.descContato{
	color: #2a375d;
	font-weight: 400;
	font-size: 16px;
	padding-top: 15px;
}

.minletterContact{
	float: right; margin-top: -20px; color: #2a375d;
}

.circlePosition{
	width: 40px;
	height: 40px;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    background-color: #2a375d;
    margin-left: 128px;
    margin-top: 20px;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 22px;
    font-family: cursive;
    font-weight: 800;
}