<ion-view title="Subcategorias" class="subCat">
  <ion-content ng-controller="SubCategoriasCtrl">
  	<div class="header text-center">
	    <div class="row noPadding">
	      <div class="col padding">
	      	<strong>{{partialRanking}}</strong>
	      	<div class="light">
	      		<i class="ranking-pb"></i>&nbsp;Parcial
	      	</div>
	      </div>
	      <div class="col percent">
	        <div class="c100 small p{{evolution.replace('%', '')}}">
                <span>{{evolution}}</span>
                <div class="slice">
                    <div class="percentBar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <div class="row">
            	<div class="text-center">Expert</div>
            </div>
	      </div>
	      <div class="col padding">
	      	<strong>{{abilities}}<small> | 100</small></strong>
	      	<div class="light">
	      		<i class="habilidades-pb"></i>&nbsp;Habilidades
	      	</div>
	       </div>
	    </div>
  	</div>
    <ion-list>
      <div ng-repeat="subcategoria in subcategorias">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(subcategoria)"
                  ng-class="{active: isGroupShown(subcategoria)}">
                  <div class="row">
                    <div class="col col-50 name">{{subcategoria.name}}</div>
                    <div class="col col-50">
                      <div class="row">
                      	<div class="col evo">{{subcategoria.evolution}}</div>
                        <div class="col col-50 progress">
							<div class="loader" ng-style="{{getStyle(subcategoria.evolution)}}"></div>
						</div>
                        <div class="col level">
                        	<span class="{{subcategoria.level}}"></span>
							<i class="icon" ng-class="isGroupShown(subcategoria) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                        </div>
                      </div>
                    </div>
                  </div>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="course in subcategoria.courses"
                  ng-show="isGroupShown(subcategoria)">
			<div class="row course">
				<div class="col-67 name">{{course.courseName}}</div>
				<div class="col-33">
					<i class="habilidades-color"></i>
					<strong class="score"><span class="num">{{course.score}}</span> <small> | 100</small></strong>
					<i class="{{course.status}}"></i>
				</div>
			</div>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
